---
import Layout from '../components/layout.astro';
---

<Layout
  title="mtechno.in || BIO"
  description="Graphic Designer in Jharsuguda"
  current="bio"
>
      <main>
        <article class="bio">
            <div class="text">
                <p>I’m Malaya Manjula, a passionate freelance graphic designer with over 5 years of experience,
                    specializing in 3D graphic design and animation. My expertise spans across various design
                    fields, including motion design, product visualization, and 2D and 3D animation, where I combine
                    creativity with precision to bring ideas to life. I have a deep understanding of design
                    principles and tools that allow me to craft visually stunning and impactful designs for my
                    clients.</p>
                <p>As a dedicated professional, I’ve had the opportunity to work on diverse projects, collaborating
                    with clients from different industries to deliver tailored solutions that align with their
                    vision and goals. Whether it’s creating engaging animations or producing high-quality 3D
                    renders, I strive for excellence in every project, ensuring that my work speaks for itself.</p>
                <p>If you're looking for someone who can transform your concepts into compelling visuals, I’m here
                    to make it happen.</p>
            </div>
            <div class="signature_img">
                <img src="/signature.png" alt="signature">
            </div>
        </article>
    </main>
</Layout>
