---
import Layout from '../components/layout.astro';
---
<Layout
  title="mtechno.in"
  description="Graphic Designer || Poser Designer || 2D Animation || 3D Animation"
  home
  current="home"
>
<div class="overlay">
  <div class="navigation">
      <span class="nav-icon active"></span>
      <span class="nav-icon"></span>
      <span class="nav-icon"></span>
  </div>
  <div class="scroll-down">
      <span>SCROLL DOWN</span>
  </div>
  <main>
    <article class="home graphic">
        <img src="/mandal-bg.png" alt="background image" class="mandal">
        <img src="/main_text.png" alt="mtechno graphic text" class="main-text">
    </article>
    <article class="static graphic"></article>
    <article class="motion graphic"></article>
</main>
</Layout>
