---
import Layout from '../components/layout.astro';
---

<Layout
  title="mtechno.in || BIO"
  description="Graphic Designer in Jharsuguda"
  current="contact"
>
      <main>
        <article class="success">
           <img alt="thank you" src="images/thank-you.png">
           <a href="/" style="color: aqua;margin:100px">Back</a>
        </article>
    </main>
</Layout>