---
const { title, description, home = false, current } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:description" content={description}>
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <title>{title}</title>
  
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="background"></div>
    <nav>
        <div class="top-row">
            <div>
                <img src="/logo.png" alt="mtechno.in logo">
            </div>
            <div>
                <ul>
                    <li class={current=="home"?"active":""}><a href="/">HOME</a></li>
                    <li class={current=="bio"?"active":""}><a href="/bio">BIO</a></li>
                    <li class={current=="contact"?"active":""}><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
            
    </nav>
    <nav class="mobile">
       <a href="/"><div class={current=="home"?"ballon active":"ballon"}>Home</div></a>
       <a href="/bio"><div class={current=="bio"?"ballon active":"ballon"}>Bio</div></a>
       <a href="/contact"><div class={current=="contact"?"ballon active":"ballon"}>Contact</div></a>
    </nav>
    <div class="container">
      <slot/>
    </div>
</body>
</html>
